<div class="dialog-form">
  <div>
      <h2 class="text-center">Log in</h2>       
      <div class="form-group">
          <input type="text" [(ngModel)]="email" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group">
          <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group text-center mt-20">
          <button type="button" class="btn btn-primary btn-block" (click)="auth()">Log in</button>
      </div>
        
</div>
</div>